*{ /* RESETANDO CONFIGURAÇÕES PADRÃO DO NAVEGADOR  */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul { /* Tira o bullet point da listagem */
    list-style: none;
}

body{
    background-image: url(./assets/Fundo.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto; /* Ajusta o tamanho da imagem na horizontal e fica fixa na vertical (auto)*/
    background-color: #121214;
}

body *{
    font-style: normal;
    font-family: 'Inter', sans-serif;
}
h2 {
    color: white;
    font-size: 24px;
    font-weight: 900;
    line-height: 160%;
    letter-spacing: -0.47px;
}

p{
    color: #A1A1AA;
    font-size: 16px;
    line-height: 160%;
    letter-spacing: -0.18px;
    font-weight: 400;
}

header{
    margin: auto;
    width: 90%; /* 90% da tela */
    /* max-width: 580px; Tamanho máximo dos cartões */

    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    border-radius: 50%;

}
main{
    max-width: 580px; /* Tamanho máximo dos cartões */
    width: 90%; /* 90% da tela */
    margin: auto;

    display: flex;
    flex-direction: column;
    /* display: grid    ** Faz o mesmo que as duas linhas de cima*/ 
    gap: 24px; /* Dá espaço entre os elementos dentro do main (precisa do "display: flex" para habilitar */ 

    margin-top: 32px;
}

/* main * {
    border: 1px solid red;
} */

/* Elemento não bloqueia um linha inteira */
/* p, h2{
    display: inline;   
} */

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 32px;

}
header img{
    border-radius: 50%;
    width: 120px;

}


section ul {
    display: flex; /* elementos dentro de ul não bloqueiam linhas */
    flex-wrap: wrap; /* elements of ul positions himself automaticaly depending of the width of window */
    gap: 16px;

    margin-top: 24px;
}

.games-list img{
    width: 90px;
    border-radius: 8px;
}

.section-streamers img{
    box-sizing: border-box;
    border-radius: 50%;
    width: 70px;
}

.cartao-games {
    /* width: 580px; */
/* height: 264px; */
padding: 24px 32px 32px;
background: #2A2634;
border-radius: 8px;
}

.cartao-streamers{
    padding: 24px 32px 32px;

    /* width: 580px; */
    /* height: 214px; */

    background: #2A2634;
    border-radius: 8px;
}

.cartao-redes {
    padding: 24px 32px 32px;

    /* width: 580px; */
    /* height: 176px; */

    background: #2A2634;
    border-radius: 8px;

}

/* Borda do topo colorida dos cartoes */
section {
    background-image: linear-gradient(90deg, #9572FC 0%, #43E7AD 50.52%, #E2D45C 100%);
    padding-top: 4px;
    /* padding-bottom: -10px; */
    border-radius: 10px;
}